{% extends "layout.html" %}

{% block title %}
    Katakana
{% endblock %}

{% block main %}
<p>
    It is recommended that one is comfortable with Hiragana before starting their learning on Katakana.
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-start"> </th>
            <th>a</th>
            <th>i</th>
            <th>u</th>
            <th>e</th>
            <th>o</th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td class="text-start"> </td>
                <td>ア (a)</td>
                <td>イ (i)</td>
                <td>ウ (u)</td>
                <td>エ (e)</td>
                <td>オ (o)</td>
            </tr>
            <tr>
                <td class="text-start">k</td>
                <td>カ(ka)</td>
                <td>キ(ki)</td>
                <td>ク(ki)</td>
                <td>ケ(ke)</td>
                <td>コ(ko)</td>
            </tr>
            <tr>
                <td class="text-start">s</td>
                <td>サ(sa)</td>
                <td>シ(shi)</td>
                <td>ス(su)</td>
                <td>セ(se)</td>
                <td>ソ(so)</td>
            </tr>
            <tr>
                <td class="text-start">t</td>
                <td>タ(ta)</td>
                <td>チ(chi)</td>
                <td>ツ(tsu)</td>
                <td>テ(te)</td>
                <td>ト(to)</td>
            </tr>
            <tr>
                <td class="text-start">n</td>
                <td>ナ(na)</td>
                <td>ニ(ni)</td>
                <td>ヌ(nu)</td>
                <td>ネ(ne)</td>
                <td>ノ(no)</td>
            </tr>
            <tr>
                <td class="text-start">h</td>
                <td>ハ(ha)</td>
                <td>ヒ(hi)</td>
                <td>フ(fu)</td>
                <td>ヘ(he)</td>
                <td>ホ(ho)</td>
            </tr>
            <tr>
                <td class="text-start">m</td>
                <td>マ(ma)</td>
                <td>ミ(mi)</td>
                <td>ム(mu)</td>
                <td>メ(me)</td>
                <td>モ(mo)</td>
            </tr>
            <tr>
                <td class="text-start">y</td>
                <td>ヤ(ya)</td>
                <td></td>
                <td>ユ(yu)</td>
                <td></td>
                <td>ヨ(yo)</td>
            </tr>
            <tr>
                <td class="text-start">r</td>
                <td>ラ(ra)</td>
                <td>リ(ri)</td>
                <td>ル(ru)</td>
                <td>レ(re)</td>
                <td>ロ(ro)</td>
            </tr>
            <tr>
                <td class="text-start">w</td>
                <td>ワ(wa)</td>
                <td></td>
                <td></td>
                <td></td>
                <td>ヲ(wo)</td>
            </tr>
            <tr>
                <td class="text-start"> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>ン(n)</td>
            </tr>

    </tbody>
</table>
{% endblock %}